### Terraform-specific ignores ###
.terraform/
terraform.tfstate
terraform.tfstate.backup
errored.tfstate
terraform.tfvars
.terraform.lock.hcl
.terraform.tfstate.lock.info
tf.plan
tf.json


### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out
__pycache__


### aws cli ###
aws/